<div class="container">
  <section class="home">
    <div class="home__content">
      <div class="logo">
        <img
          src="../../../assets/img/logo-white.png"
          alt="logo"
          class="logo__img"
        />
      </div>
      <div class="title">
        <h1 class="title__primary">
          <span class="title__primary--main">Canastra</span>
          <span class="title__primary--sub">Onde a Vida Acontece</span>
        </h1>
        <a href="#" class="btn btn--white btn--animated">Solicitar Reserva</a>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="about__content">
      <div class="about__title">
        <h2 class="hearding-secundary hearding-secundary--screen">
          Turismo excitante, repleto de cachoeiras e natureza exuberante
        </h2>
      </div>
    </div>
  </section>
</div>
