@import '../../shared/scss/variables';

.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
    background-color: $color-white;
}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}